.feedback-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.feedback-container p {
  margin: 10px 0;
}

.feedback-thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 20px; 
}

.thumbs-up, .thumbs-down {
  font-size: 24px;
  border: 2px solid transparent; 
  border-radius: 50%; 
  background-color: transparent;
  cursor: pointer;
  padding: 10px; 
  margin: 0 10px;
  transition: color 0.3s, border-color 0.3s; 
}

.thumbs-up {
  color: green; 
}

.thumbs-down {
  color: red; 
}

.thumbs-up:hover, .thumbs-up:focus {
  color: darkgreen; 
  border-color: green; 
}

.thumbs-down:hover, .thumbs-down:focus {
  color: darkred; 
  border-color: red; 
}
