body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-width: 600px;
    margin: auto;
    margin-top: -60px;
    border: 1px solid #bbb;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #1b1a1a;
    overflow: hidden;
    background-color: white;
    margin-bottom: -80px;
}

.messages-container {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 3px #8e8a8a;
}

.message.user {
    margin-left: auto;
    background-color: #007aff; 
}

.message.system {
    background-color: #34c759;
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1pmx solid black;
    background-color: white;
    outline: none;
    color: #333333;
    font-size: 1.1em;
}

.input-container input::placeholder {
    color: #333333;
    opacity: 1;
}

.input-container input:focus {
    border: 1px solid #bbb;
}

.input-container button {
    padding: 10px;
    border: none;
    background-color: #007aff; 
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.input-container button:hover {
    background-color: #005ecb; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.loading-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #34c759; 
    animation: dotFlashing 1s infinite alternate;
    margin: 0 5px;
}

.loading-dot:nth-child(1) {
    animation-delay: 0s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes dotFlashing {
    0% { background-color: #34c759; }
    50%, 100% { background-color: transparent; }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  